
__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
env/
ENV/




.vscode/
.idea/

.DS_Store

weights/

*.pt
*.pth
*.ckpt
*.onnx


dataset/
data/


logs/
runs/
wandb/
tensorboard/

*.log


outputs/
results/
predictions/


.cache/

.huggingface/

torch_cache/

.env
.env.*

*.tmp
*.bak